        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{ asset('imagenes/avatar.jpeg') }}" alt="">{#{ app.user.nombre }#} {#{ app.user.apellidos }#}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href=""><i class="fa fa-sign-out pull-right"></i> {% trans %}cerrar.sesion{% endtrans %}</a></li>
                  </ul>
                </li>
                {% set urlActual =  path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params'))  %}
                {% set urlES = urlActual|replace({'en/': 'es/'}) %}
                {% set urlEN = urlActual|replace({'es/': 'en/'}) %}

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-flag-o"></i>
                 {#   <span class="badge bg-green">6</span> #}
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">

                    <li>
                      <a href="{{ urlES }}">
                      {# <a href="/change/es"> #}
                        <span class="image"> <img src="{{ asset('imagenes/es.png')}}" alt="ES"> {% trans %}español{% endtrans %}</span>
                      </a>
                    </li>
                    <li>
                      <a href="{{ urlEN }}">
                      {# <a href="/change/en"> #}
                        <span class="image"> <img src="{{ asset('imagenes/en.png')}}" alt="EN"> {% trans %}ingles{% endtrans %}</span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <i class="fa fa-angle-left"></i>
                          <strong>{% trans %}idiomas{% endtrans %}</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
