{% extends 'base_menu.html.twig' %}

{% block head %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('template/build/css/custom2.css')}} ">
<script>
function ocultarMensajes(){
    setTimeout(function() {
      $('.alert').hide()
    }, 3500);
  }
function f1(){
    $('.f2').removeClass('hidden');
    $('.f1').addClass('hidden');
    $('.f3').addClass('hidden');
}
function f2(){
    $('.f1').removeClass('hidden');
    $('.f2').addClass('hidden');
    $('.f3').addClass('hidden');
}
function f3(){
    $('.f3').removeClass('hidden');
    $('.f2').addClass('hidden');
    $('.f1').addClass('hidden');
}

function enviarFormularioRegistro(){
    var nombre_usuario = $('#nombre_usuario').val();
    var pass = $('#pass').val();
    var nombre = $('#nombre').val();
    var apellidos = $('#apellidos').val();

    if( nombre_usuario != '' || pass != '' || nombre != '' || apellidos != '' ){
        $('#formulario3').attr('action', '/registro');
        $('#formulario3').submit();
    }
    else{
        $('.mensaje').append( '<div class="alert alert-danger " role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Asegurese de introducir todos los campos obligatorios. </div>');
            ocultarMensajes();
    }

}
</script>
{% endblock %}


{% block classBody %}class="login_body"{% endblock %}


{% block body %}

<div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper" style="max-width: 380px;">
        <div id="login" class="animate form">
        <div class="mensaje">

            {%  if mensaje is defined %}

                    {%  if mensaje == 'USUARIO CREADO' %}
                                  <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-check"></i> Registro correcto</h4>
                                    Se ha registrado correctamente.
                                  </div>
                    {% elseif mensaje == 'USUARIO NO CREADO' %}
                                  <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                    No se ha podido registrar el usuario, asegurese de haber introducido correctamente los datos.
                                  </div>
                    {% elseif mensaje == 'USUARIO EXISTE' %}
                                  <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                    No se ha podido registrar el usuario, nombre de usuario ya existe.
                                  </div>
                    {% elseif mensaje == 'FALTA ALGUN CAMPO' %}
                                  <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                    Todos los campos son obligatorios.
                                  </div>

                    {%  endif %}


            {%  endif  %}
</div>

            <section class="login_content f1">
                {% if error %}
            		<div class="alert alert-danger " role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  {{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
                <form action="{{ path('login_check') }}" method="post" id="formularo1">
                   <h1 class="h1_login_administrador">Login App TODO List</h1>

                      <div class="form-group has-feedback f1" >
                        <input type="text" class="form-control" placeholder="Usuario" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                      </div>

                      <div class="form-group has-feedback f1">
                        <input type="password" class="form-control" placeholder="Contraseña" id="password" name="_password" required="required" autocomplete="current-password" >
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                      </div>

                    <div>
                    <button type="reset"  onclick="f3()">{% trans %}registrarse{% endtrans %}</button>
                    	<button type="submit">{% trans %}enviar{% endtrans %}</button>
                    </div>

                    <div class="clearfix"></div>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </form>
                <!-- form -->
            </section>
            <!-- content -->

            <section class="login_content f3 hidden">
                {% if error %}
                    <div class="alert alert-danger " role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('formulario_registro') }}" method="post" id="formulario3">
                   <h1 class="h1_login_administrador">Registro Usuario</h1>

                      <div class="form-group has-feedback ">
                        <input type="text" class="form-control" placeholder="Nombre usuario *" id="nombre_usuario" name="nombre_usuario" required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>

                      <div class="form-group has-feedback ">
                        <input type="pass" class="form-control" placeholder="Password *" id="pass" name="pass" required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                      <div class="form-group has-feedback ">
                        <input type="text" class="form-control" placeholder="Nombre *" id="nombre" name="nombre"  required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                      <div class="form-group has-feedback ">
                        <input type="text" class="form-control" placeholder="Apellidos *" id="apellidos" name="apellidos" required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                    <div>
                        <button type="reset"  class="f3" onclick="f2()">Volver al login</button>

                        <button type="reset" onclick="enviarFormularioRegistro()">Enviar</button>

                    </div>

                    <div class="clearfix"></div>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </form>
                <!-- form -->
            </section>
        </div>
    </div>
</div>

{% endblock %}
