{% extends 'base_menu.html.twig' %}


{% block title %}{% trans %}crear.tarea{% endtrans %}{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block pageContent %}
<div class="loader"></div>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans %}crear.tarea{% endtrans %}</h3>
              </div>
            </div>
            <div class="clearfix"></div>
              {% block mensajes %}
              {{ parent() }}
              {% endblock %}
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% trans %}formulario {% endtrans %} <small>{% trans %}crear.tarea{% endtrans %}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <!-- Opciones superior derecha-->
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   {{ form_start(form, { 'enctype':"multipart/form-data",  'attr' : {'role' : 'form'} }) }}

                      <div class="form-group">
                        {{ form_label(form.nombre)}}
                         {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.nombre)}}</span>
                      </div>
                      <div class="form-group">
                        {{ form_label(form.fechaTope)}}
                         {{ form_widget(form.fechaTope, { 'attr': {'class': '' } }) }}
                        <span class="text-danger">{{ form_errors(form.fechaTope)}}</span>
                      </div>                                            
                      <div class="form-group">
                        {{ form_label(form.estado)}}
                         {{ form_widget(form.estado, { 'attr': {'class': 'form-control js-switch' } }) }}
                        <span class="text-danger">{{ form_errors(form.estado)}}</span>
                      </div>
                      <div class="ln_solid"></div>
                      <!--  Aceptar y Reset en la misma línea  -->
                      <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                        <div class="btn pull-right">
                           {{ form_widget(form.reset)}}
                          <span class="text-danger">{{ form_errors(form)}}</span>
                        </div>
                        </div>
                        <div class="btn pull-left">
                           {{ form_widget(form.aceptar)}}
                          <span class="text-danger">{{ form_errors(form)}}</span>
                        </div>
                      </div><!-- # FIN Aceptar y Reset -->
                    {{ form_end(form) }}

                  </div>
                </div>
              </div>
            </div>

{#            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% trans %}tabla {% endtrans %} <small>{% trans %}tareas{% endtrans %} </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <!-- Opciones superior derecha-->
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                <table id="tabla_datatable" class="display responsive nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                  {% if  app.user.roles[0]  == 'ROLE_ADMIN' %}
                    <th>{% trans %}usuario{% endtrans %}</th>
                  {% endif %}                
                  <th>{% trans %}nombre{% endtrans %}</th>
                  <th>{% trans %}fecha.creacion{% endtrans %}</th>
                  <th>{% trans %}fecha.tope{% endtrans %}</th>
                  <th>{% trans %}estado{% endtrans %}</th>
                  <th>{% trans %}opciones{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                  <tr>
                        {% if  app.user.roles[0]  == 'ROLE_ADMIN' %}
                          <td>{{ task.user.username }}</td>
                        {% endif %}                    
                        <td>{{ task.nombre }}</td>
                        <td>{{ task.fechaCreacion|date("m/d/Y h:m") }}</td>
                        <td>{{ task.fechaTope|date("m/d/Y h:m") }}</td>
                        <td>
                          {% if task.estado == 'SIN EMPEZAR' %}
                              <i  data-class="SIN EMPEZAR" data-id="{{ task.id }}" class="fa fa-pause-circle-o fa-2x" title="{% trans %}modificar.estado{% endtrans %}" style=" cursor: pointer; color: #256E97;"></i>
                          {% elseif task.estado == 'INICIADA' %}
                              <i data-class="INICIADA" data-id="{{ task.id }}" class="fa fa fa-play-circle-o fa-2x" title="{% trans %}modificar.estado{% endtrans %}" style=" cursor: pointer; color: #256E97;"></i>
                          {% elseif task.estado == 'FINALIZADA' %}
                              <i data-class="FINALIZADA" data-id="{{ task.id }}" class="fa fa-flag-checkered fa-2x" title="{% trans %}modificar.estado{% endtrans %}" style=" cursor: pointer; color: #256E97;"></i>
                          {% endif %}
                              &nbsp;&nbsp;&nbsp;<span data-textoid="{{ task.id }}" >{{ task.estado }}</span>
                        </td>
                    <td>
                      <div class="text-center">

                              <a href="{{ path('create_task')}}">
                                <button type="button" class="btn btn-link btn-xs crear">
                                  <i class="fa fa-plus fa-2x" style="color: orange;"></i>
                                </button>
                              </a>
                              <a href="{{ path('edit_task', {'idTask': task.id})}}">
                                <button type="button" class="btn btn-link btn-xs editar" id="aa">
                                  <i class="fa fa-pencil fa-2x" style="color: green;"></i>
                                </button>
                              </a>

                              <a href="#">
                                <button type="button" class="btn btn-link btn-xs eliminar" data-toggle="modal" data-target="#myModal" id="{{ task.id }}" name="{{task.nombre}}">
                                      <i class="fa fa-trash fa-2x" style="color: red;"></i>
                                </button>
                              </a>
                      </div>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  {% if  app.user.roles[0]  == 'ROLE_ADMIN' %}
                    <th>{% trans %}usuario{% endtrans %}</th>
                  {% endif %}                
                  <th>{% trans %}nombre{% endtrans %}</th>
                  <th>{% trans %}fecha.creacion{% endtrans %}</th>
                  <th>{% trans %}fecha.tope{% endtrans %}</th>
                  <th>{% trans %}estado{% endtrans %}</th>
                  <th>{% trans %}opciones{% endtrans %}</th>                  
                </tr>
                </tfoot>
              </table>

                  </div>
                </div>
              </div>
            </div> #}



          </div>
        </div>
        <!-- page content -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}



